extends layout

block content
  head
    h1= title
    p Welcome to #{title}

  body
    // A navigation tab bar to switch between school and teachers
    .search-tabs-wrapper
      ul.nav.nav-tabs(role="tablist")
        li.active
          a(href="#school" role="tab" data-toggle="tab") School
        li
          a(href="#teacher" role="tab" data-toggle="tab") Teacher

      // tab content for School
      .tab-content.search-tabs-content
        .tab-pane.active(id="school")
          form(method='POST' action='/schools')
            div.form-group
              label(for='school') Add School:
              input#name.form-control(type='text', placeholder='Illinois Institute of Technology' name='school')
            button.btn.btn-primary(type='add') Add

          form(method='GET' action='/schools')
            div.form-group
              label(for='school') Search School:
              input#name.form-control(type='text', placeholder='Illinois Institute of Technology' name='school')
            button.btn.btn-primary(type='add') Search


        // tab content for Teacher
        .tab-pane(id="teacher")
          h3 Teacher Information
          form(method='GET' action='/schools/:sname/teacher/:tname')
            div.form-group
              label(for='school') Search Teacher:
              input#name.form-control(type='text', placeholder='John Smith' name='teacher')
            button.btn.btn-primary(type='search') Search

          form(method='POST' action='/schools/:sname/teacher')
            div.form-group
              label(for='school') Add Teacher:
              input#name.form-control(type='text', placeholder='John Smith' name='teacher')
            button.btn.btn-primary(type='add') Add

          h3 Teacher Comments
          form(method='GET' action='/schools/:sname/teacher/:tname/comments')
            div.form-group
              label(for='school') Teacher Comments:
              input#name.form-control(type='text', placeholder='John Smith' name='teacher')
            button.btn.btn-primary(type='Search') Search


          form(method='POST' action='/schools/:sname/teacher:tname/comments')
            div.form-group
              label(for='school') Add Teacher:
              input#name.form-control(type='text', placeholder='John Smith' name='teacher')
              input#name.form-control(type='text', placeholder='Teacher is helpful' name='teacher')
              input#name.form-control(type='text', placeholder='Took class' name='teacher')
            button.btn.btn-primary(type='add') Add

          form(method='DELETE' action='/schools/:sname/teacher/:tname/comments/:id')
            div.form-group
              label(for='school') Delete Comment:
              input#name.form-control(type='text', placeholder='2' name='teacher')
            button.btn.btn-primary(type='Delete') Delete
            
