body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: #dadfe8;	
}

a {
  color: #00B7FF;
}

ul{
	display: flex;
	justify-content: center;
}
.tab-content, header, h4,{
	padding: 10px;
}
.space{
	margin: 10px;
}